.basic-layout{
	min-height: 100vh;
	background-image:url("https://game-ecommerces3.s3.us-east-2.amazonaws.com/static/bg-web.jpg");
	background-position: center;
	background-size: cover;

	.content{
		background-color: #eee;
		height: calc(100vh - 130px);
		box-shadow: 0px 0px 10px 0px rgba(24, 17, 17, 0.7);
		-webkit-box-shadow: 0px 0px 10px 0px rgba(24, 17, 17, 0.7);
		-moz-box-shadow: 0px 0px 10px 0px rgba(24, 17, 17, 0.7);
		overflow-y: scroll;

		&::-webkit-scrollbar{
			display: none;
		}

	}
}